@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@theme {
  --color-main: #005240;
  --color-bg: #ffffff;
  --color-text: #030303;
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
  font-family: 'Inter', sans-serif;
}
::selection {
  background: var(--color-main);
  color: var(--color-bg);
}
