@import 'tailwindcss';
@theme {
  --color-main: #005240;
  --color-bg: #030303;
  --color-sec: #e6e6e6;
  --color-text: #ffffff;

  --font-main: var(--font-main);
  --font-sec: var(--font-sec);
}
/* * {
  box-sizing: border-box;
} */
/* html {
  scrollbar-width: none;
} */
body:has(.hide-footer) footer {
  display: none;
}
