@import 'tailwindcss';
@theme {
  --color-main: #005240;
  --color-bg: #030303;
  --color-text: #ffffff;
  --font-inter: var(--font-inter);
  --font-sec: var(--font-sec);
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
}
