@import 'tailwindcss';
@theme {
  --color-main: #005240;
  --color-bg: #030303;
  --color-text: #ffffff;
  --font-inter: var(--font-inter);
  --font-sec: var(--font-sec);
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-color: var(--color-main) transparent;
}
::selection {
  background: var(--color-main);
  color: var(--color-bg);
}
