@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: 'Gambarino-Regular';
  src: url('/fonts/Gambarino-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@import 'tailwindcss';
@theme {
  --color-main: #005240;
  --color-bg: #030303;
  --color-text: #ffffff;
  --font-sec: 'Gambarino-Regular';
}
* {
  box-sizing: border-box;
}
html {
  scrollbar-width: none;
  font-family: 'Inter', sans-serif;
}
::selection {
  background: var(--color-main);
  color: var(--color-bg);
}
